*{
    margin: 0px;
    padding: 0px;
}
table{
    text-align: center;
    border-collapse: collapse;
    width: 50%;
    align-items: center;
    margin: 1% auto;
}
th{
    color: #DC5F00;
    background-color: #000000;
}
td,th{
    height: 60px;
    width: 100px;
}
tr:hover{
    background-color:#EEEEEE;

}