<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
    .main{
        display: flex;
        justify-content: center;
    }
    .box{
        height:200px;
        width:300px;
        text-align : center;
        margin: 20px;
        border-radius: 20px;
        border: 3px solid black;
        background-color: {{wcolor}}; 
    }
    </style>
</head>
<body>
    
    <h1 style="text-align: center; margin-top: 100px;">Welcome!</h1>
    <div class="main">
    {%for i in range(0,rep):%}
        <div class="box">

        </div>
    {%endfor%}
    </div>
</body>
</html>